/* Style Settings */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

body {
  background: url("../images/bg.jpg");
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

#userPhoto {
  width: 250px;
  height: 250px;
  display: block;
  margin: 10px auto;
  border-radius: 20%;
}

#userName {
  color: #fff;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
}

#userName h1 {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
  margin: 0 auto;
}

#userName p {
  font-weight: 300;
  margin-top: 5px;
  text-transform: none;
}

i.fa {
  margin-right: 0.3rem;
}

#links {
  max-width: 450px;
  width: auto;
  display: block;
  margin: 20px auto;
}

.link {
  display: block;
  background-color: rgba(66, 110, 255, 0.2);
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 300;
  transition: all 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99);
  border-radius: 10px;
}

.link:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #000000;
  border: none;
}
.center {
  margin: auto 0;
  text-align: center;
}
.pad {
  padding: 20px;
}

.img {
  width: 450px;
  height: 450px;
  display: block;
  margin: 10px auto;
  border-radius: 2%;
}
